body {
	width: 100%;
	height: 100%;
}

.chart-container {
	position: relative;
	margin: auto;
	width: 100%;
}

/* Tables */
.table-custom-container {
	border-radius: .5rem;
	border: 1px solid var(--gray-100);
}

.table-custom {
	margin-bottom: 0;
}

.table-custom thead th {
	border-top: 0;
	border-bottom: 0;
	color: var(--gray);
}

.table-custom th {
	padding: 0.8rem 1rem;
	font-size: .9rem;
}

[data-theme-style="dark"] .table-custom thead th {
	color: var(--gray-800)
}

.table-custom tr:nth-child(even) {
	background: var(--gray-50);
}

.table-custom td {
	padding: 1rem 1rem;
	vertical-align: middle;
}

.table-custom tbody tr td {
	border-color: var(--gray-100);
}

[data-theme-style="dark"] .table-custom tbody tr td {
	border-color: var(--gray-200)
}

.table-custom tbody tr {
	transition: all .3s ease-in-out;
}

.table-custom tbody tr:hover td {
}

/* Custom breadcrumbs */
.custom-breadcrumbs {
	list-style: none;
	padding: 0;
	display: flex;
}

.custom-breadcrumbs > li {
	margin-right: .25rem;
}

.custom-breadcrumbs > li > a {
	color: var(--gray);
}

.custom-breadcrumbs > li > svg {
	color: var(--gray-400);
	margin-left: .25rem;
}

.custom-breadcrumbs > li.active {
}

/* Base animation */
.altum-animate {
	-webkit-animation-duration:500ms;
	animation-duration:500ms;
}

.altum-animate-fill-both {
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
}

.altum-animate-fill-none {
	-webkit-animation-fill-mode:none;
	animation-fill-mode:none;
}

@keyframes fadeIn{
	0% {
		opacity:0
	}
	to {
		opacity:1
	}
}
.altum-animate-fade-in {
	-webkit-animation-name:fadeIn;
	animation-name:fadeIn
}

/* Navbar */
.status-page-navbar {
	border-bottom: 1px solid var(--gray-100)
}

.status-page-navbar-logo {
	max-height: 2.5rem;
}

/* Others */
.status-page-title {
	color: var(--black);
}

/* Footer */
.status-page-footer {
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: .95rem;
	border-top: 1px solid var(--gray-100);
}

/* Images, icons */
img {
	vertical-align: inherit !important;
}

.icon-favicon {
	width: .95rem;
	height: auto;
}

.icon-favicon-small {
	width: .75rem;
	height: auto;
}

.status-page-logo {
	width: 4rem;
	max-width: 4rem;
}

.svg-sm,.svg-sm svg {
	width: 1rem;
	height: 1rem;
}

.svg-md,.svg-md svg {
	width: 1.25rem;
	height: 1.25rem;
}

.svg-lg,.svg-lg svg {
	width: 1.5rem;
	height: 1.5rem;
}

.svg-card-icon {
	width: 2rem;
	height: auto;
}

.svg-head-status {
	width: 4rem;
	height: auto;
}

/* Rounded */
.rounded-2x {
	border-radius: calc(2*var(--border-radius));
}

/* Shadows */
.phoenix-shadow-header {
	box-shadow: 0.6rem 0.6rem 3rem rgba(10, 10, 11, 7%) !important;
}

.phoenix-shadow {
	box-shadow: 0.6rem 0.6rem 1.5rem rgba(10, 10, 11, 5%) !important;
}

/* Badge colors */
.badge {
	padding: 0.45em 0.9em;
}

.badge-primary {
	color: var(--primary-700);
	background: var(--primary-100);
}

[data-theme-style="dark"] .badge-primary {
	background: var(--primary-800);
	color: var(--primary-100);
}

.badge-secondary {
	color: hsl(208, 7%, 35%);
	background-color: hsl(208, 7%, 85%);
}

[data-theme-style="dark"] .badge-secondary {
	background-color: hsl(208, 7%, 35%);
	color: hsl(208, 7%, 85%);
}

.badge-success {
	color: hsla(134, 50%, 30%, 1);
	background-color: hsla(134, 50%, 85%, 1);
}

[data-theme-style="dark"] .badge-success {
	background-color: hsla(134, 50%, 30%, 1);
	color: hsla(134, 50%, 85%, 1);
}

.badge-danger {
	color: hsla(354, 70%, 35%, 1);
	background-color: hsla(354, 70%, 85%, 1);
}

[data-theme-style="dark"] .badge-danger {
	background-color: hsla(354, 70%, 35%, 1);
	color: hsla(354, 70%, 85%, 1);
}

.badge-warning {
	background-color: hsla(45, 100%, 85%, 1);;
	color: hsla(40, 80%, 30%, 1);
}

[data-theme-style="dark"] .badge-warning {
	background-color: hsla(50, 20%, 20%, 1);
	color: hsla(45, 100%, 85%, 1);
}

.badge-info {
	color: hsla(188, 60%, 30%, 1);
	background-color: hsla(188, 78%, 85%, 1);
}

[data-theme-style="dark"] .badge-info {
	background-color: hsla(188, 60%, 30%, 1);
	color: hsla(188, 78%, 85%, 1);
}

.badge-light {
	color: hsla(210, 15%, 35%, 1);
	background-color: hsl(210, 17%, 95%);
}

[data-theme-style="dark"] .badge-light {
	background-color: hsla(210, 15%, 20%, 1);
	color: hsl(210, 17%, 95%);
}

.badge-dark {
	color: hsla(210, 10%, 90%, 1);
	background-color: hsla(210, 10%, 20%, 1);
}

[data-theme-style="dark"] .badge-dark {
	background-color: hsla(210, 10%, 90%, 1);
	color: hsla(210, 10%, 20%, 1);
}

/* Status badge */
.status-badge {
	width:  1rem;
	height: 1rem;
	min-width:  1rem;
	min-height: 1rem;
	border-radius: var(--border-radius);
	transition: .3s opacity;
}

.status-badge:hover {
	opacity: 80%;
}

/* Announcements */
.announcement-wrapper {
	margin: .75rem;
	border-radius: .5rem;
	opacity: 0;
	transition: opacity .3s ease-in;
	animation: ac-fade-in-down .3s ease-in .6s forwards;
}

@media (min-width: 992px) {
	.announcement-wrapper {
		border-radius: 5rem;
	}
}

@keyframes ac-fade-in-down {
	from {
		opacity: 0;
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* PWA */
.pwa-wrapper {
	position: fixed;
	bottom: 0;
	width: calc(100% - 1.5rem);
	z-index: 1000;
	background: hsla(0, 0%, 90%, 50%);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

[data-theme-style="dark"] .pwa-wrapper {
	background: hsla(0, 0%, 22%, 50%);
}
